@{
    ViewBag.Title =" Tastatura";
}
@model NasaProdavnica.Models.MainModel
<h2>Unos laptopa</h2>
<div class="panel-title">
    <h2>Unos nove testature</h2>
</div>
@using (Html.BeginForm("UnosTastatura", "Home", FormMethod.Post))
{
<div>
    <label>Naziv Proizvoda</label>
    @Html.TextBoxFor(x => x.Tastature.Naziv)
    <label>Fotografija</label>
    @Html.TextBoxFor(x => x.Tastature.Fotografija)
    <hr />
    <label>Cena</label>
    @Html.TextBoxFor(x => x.Tastature.Cena)
    <label>Popust</label>
    @Html.TextBoxFor(x => x.Tastature.Popust)
    <label>Proizvodjac</label>
    @Html.DropDownListFor(x => x.Tastature.Proizvodjac, new SelectList(ViewBag.naziv, ViewBag.naziv))
</div>
    <div>
        <label>Placanje ratama</label>
        <label>@Html.RadioButtonFor(x => x.Tastature.Rate, "48 rata")48 rata</label>
        <label>@Html.RadioButtonFor(x => x.Tastature.Rate, "24 rate")24 rate</label>
        <label>@Html.RadioButtonFor(x => x.Tastature.Rate, "12 rata")12 rata</label>
        <label>@Html.RadioButtonFor(x => x.Tastature.Rate, "Bez rata") Bez rata</label>
        <hr />
        <label>Proizvod na akciji</label>
        <label>@Html.CheckBoxFor(x => x.Tastature.Akcija)da</label>
        <hr />
        @Html.DropDownListFor(x => x.Tastature.TipTastature, new[]
{
 new SelectListItem(){Text="Mehanicki",Value="Mehanicki"},
  new SelectListItem(){Text="Membranski",Value="Membranski"},
   new SelectListItem(){Text="dobar",Value="dobar"}

})
        <label>Opis</label>
        <label>@Html.TextAreaFor(x => x.Tastature.Opis)</label>
        <input type="submit" class="btn-primary dugme" value="Potvrdi" />
    </div>
}

